
body, ul, li, p, a, label, input, div {
  font-family: 'Roboto', sans-serif;
  font-size: 18px !important;
  font-weight: 300 !important;
}
.h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px !important;
  font-weight: 200 !important;
}
.h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px !important;
  font-weight: 300;
}
.h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px !important;
}

.logo { font-weight: 500 !important;}

.text-success { color: #bb70ce !important;}
.text-light { color: #67237f !important;}
.bg-dark { background-color: #212934 !important;}
.bg-light { background-color: #efefef !important;}
.bg-black { background-color: #1d242d !important;}


.pagination .page-link:hover {color: #000;}


#templatemo_nav_top { min-height: 40px;}
#templatemo_nav_top * { font-size: .9em !important;}
#templatemo_main_nav a { color: #212934;}




#template-mo-zay-hero-carousel { background: #e6dbff !important;}

.templatemo-accordion a { color: #000;}
.templatemo-accordion a:hover { color: #333d4a;}




.card.product-wap .card .product-overlay {
  background: rgba(0,0,0,.2);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}
.card.product-wap:hover .card .product-overlay {
  visibility: visible;
  opacity: 1;
}
.card.product-wap a { color: #000;}
#carousel-related-product .slick-slide:focus { outline: none !important;}
#carousel-related-product .slick-dots li button:before {
  font-size: 15px;
  margin-top: 20px;
}

.brand-img {
  filter: grayscale(100%);
  opacity: 0.5;
  transition: .5s;
}
.brand-img:hover {
  filter: grayscale(0%);
  opacity: 1;
}


#template-mo-zay-hero-carousel .carousel-control-next i,
#template-mo-zay-hero-carousel .carousel-control-prev i {
  color: #e518ec !important;
  font-size: 2.8em !important;
}

.tempaltemo-carousel .h1 {
  font-size: .5em !important;
  color: #000 !important;
}

.services-icon-wap {transition: .3s;}
.services-icon-wap:hover, .services-icon-wap:hover i {color: #efefef;}


.leaflet-control a, .leaflet-control { font-size: 10px !important;}
.form-control { border: 1px solid #7814d5;}

#tempaltemo_footer a { color: #fdfdfd;}
#tempaltemo_footer a:hover { color: #e010e8;}
#tempaltemo_footer ul.footer-link-list li { padding-top: 10px;}
#tempaltemo_footer ul.footer-icons li {
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
}
#tempaltemo_footer ul.footer-icons li:hover {
  background-color: #efefef;
  transition: .5s;
}
#tempaltemo_footer ul.footer-icons li:hover i {
  color: #212934;
  transition: .5s;
}
#tempaltemo_footer .border-light { border-color: #2d343f !important;}

.product-wap .h3, .product-wap li, .product-wap i, .product-wap p {
  font-size: 12px !important;
}
.product-wap .product-color-dot {
  width: 6px;
  height: 6px;
}

@media (min-width: 576px) {
  .tempaltemo-carousel .h1 { font-size: 1em !important;}
}


@media (min-width: 768px) {
  #templatemo_main_nav .navbar-nav {max-width: 450px;}
 }


@media (min-width: 992px) {
  #templatemo_main_nav .navbar-nav {max-width: 550px;}
  #template-mo-zay-hero-carousel .carousel-item {min-height: 30rem !important;}
  .product-wap .h3, .product-wap li, .product-wap i, .product-wap p {font-size: 18px !important;}
  .product-wap .product-color-dot {
    width: 12px;
    height: 12px;
  }
}


.zoom_img:hover {
  transform: scale(1.5);
}
.zoom_img {
  transition: all .3s;
}

.logo {
  transition: all .3s;
}

.logo:hover {
  transform: rotate(180deg);
}
.rounded-circle{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.order-lg-last{
  transform: scale(1.3);
}
